.contenedor {
  display: flex;
  flex-direction: column;
  min-width: 10vw;
  align-items: right;
}

.navBut {
  background-color: transparent;
  border-color: bisque;
  min-width: 15vw;
  border-radius: 15%;
  margin: 1vw;
  padding: 5%;
  box-shadow: 0px 0px 10px bisque;

}
.navBut:hover {
  cursor: pointer;
  background-color: rgba(68, 0, 111, 0.4);
}

@keyframes beat {
  0% {box-shadow: 0px 0px 10px bisque}
  25% {box-shadow: 0px 0px 0px bisque}
  50% {box-shadow: 0px 0px 10px bisque}
  75% {box-shadow: 0px 0px 10px bisque}
  100% {box-shadow: 0px 0px 10px bisque}
}

.link {
  color: bisque;
  font-size: 1.2em;
}
