.divFav {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    max-width: 80%;
    justify-content: space-around;
    padding: 2vw;
    border-radius: 2vw;
    background-color: rgba(102, 180, 203, 0.4);
    border-radius: 2vw;
    box-shadow: 0px 0px 10px rgb(190, 222, 66);
    color: rgb(190, 222, 66);
}

h1 {
    color: rgb(190, 222, 66);
}